<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="todo" routerLinkActive="active">To-Do</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="inprogress" routerLinkActive="active"
      >InProgress</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="done" routerLinkActive="active">Done</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="blocked" routerLinkActive="active"
      >Blocked</a
    >
  </li>
</ul>
<br />
